@font-face
  font-family: 'monosten'
  src: url('assets/monosten.woff2') format('woff2')

body
  position: absolute
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: Helvetica, Arial, sans-serif
  font-weight: 300

#sidebar, canvas
  position: relative
  display: block
  height: 100%
  float: left
  margin: 0
  padding: 0
  box-sizing: border-box

#sidebar
  width: 25%
  background: #E4E6E9
  padding: 0 15px
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.3)

  #start
    padding: 10px
    h1
      font-family: 'monosten'
      font-size: 40px
      margin: 0
      padding: 70px 0 20px 0
      color: #21252b

    line
      display: block
      position: relative
      width: 100px
      height: 2px
      background: #21252b
      margin-bottom: 20px

    p
      font-size: 15px
      line-height: 1.5

      &:nth-child(3)
        font-style: italic

  #tutorial
    .sidebar-title
      position: relative
      display: block
      width: 100%
      padding-top: 20px
      margin-left: -6px

      &:after
        display: block
        content: ' '
        clear: both

      span, h3
        display: inline-block
        position: relative
        height: 100%
        float: left

      span
        width: 110px
        font-family: 'monosten'
        font-size: 80px
        line-height: 75px
        color: #EB423E

      h3
        width: calc(100% - 110px)
        margin: 0
        padding: 6px 0

  #object-creation
    .input-group
      display: block
      margin-bottom: 20px
      font-family: Helvetica, Arial, sans-serif

      label
        display: block
        font-size: 14px
        font-weight: normal

      input,select
        border: none
        background: none

        &:focus, &:active, &:hover
          outline: none

      &:nth-child(3)
        margin-top: 30px

        input
          padding: 0
          width: 80px
          height: 30px
          margin-left: -2px

      &:nth-child(4)
        input
          border-bottom: 1px solid black
          width: 70px
          line-height: 1.5
          margin-top: 5px

        span
          font-size: 11px
          line-height: 1.5

      &:nth-child(5)
        margin-bottom: 30px

        select
          background: #efefef
          border: 1px solid black
          border-radius: 0
          margin-top: 5px
          width: 120px
          height: 20px
          padding: 10px

        input
          display: none
          border-bottom: 1px solid black
          margin-left: 5px

          &.shown
            display: inline-block

    section button
      background: #73c990
      padding: 5px 10px
      color: #111
      border: none

      &:hover
        background: darken(#73c990, 10%)
        color: #000

  #load-state
    .load-item
      position: relative
      box-sizing: border-box
      width: 100%
      height: 110px
      background: #dcdcdc
      padding: 10px
      font-size: 11px
      transition: all 300ms ease-in-out
      margin-bottom: 10px

      img, .load-information
        position: relative
        width: 90px
        height: 90px
        float: left

      .load-information
        display: flex
        justify-content: center
        flex-direction: column
        width: calc(100% - 90px)
        padding: 0 0 0 10px
        box-sizing: border-box
        overflow: hidden

        h4, p
          font-size: 11px
          margin: 0
          color: #333

        h4
          color: #000
          line-height: 15px
          margin-bottom: 5px

      &:hover
        background: darken(#dcdcdc, 2%)
        transform: scale(0.98)
        box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.1)
        cursor: pointer
        transition: all 300ms ease-in-out

    p
      margin-top: 25px

    form
      input
        display: none

      label
        background: #73c990
        padding: 5px 10px
        color: #111
        font-size: 13px

        &:hover
          background: darken(#73c990, 10%)
          color: #000
          cursor: pointer

  #settings
    font-size: 13px

    h4
      margin: 0
      padding-bottom: 10px

    .settings-input-wrap
      display: inline-block
      padding: 10px 0

      .input-title
        display: inline-block
        width: 70px
        margin: 0

      .label-information
        opacity: 0
        position: absolute
        margin-left: 20px
        margin-top: 1px
        background: lighten(#3498db, 10%)
        padding: 4px 5px
        border-radius: 3px
        color: white
        font-size: 12px
        font-style: italic

        &::before
          position: absolute
          top: -6px
          display: block
          content: ' '
          width: 0
          height: 0
          border-style: solid
          border-width: 0 5px 6px 5px
          border-color: transparent transparent lighten(#3498db, 10%) transparent

      &:hover
        .label-information
          opacity: 1
          animation: labelinformation 3s

        @keyframes labelinformation
          0%
            opacity: 0

          80%
            opacity: 0
            transform: translate(0px, 10px)

          92%
            transform: translate(0px, 0px)

          96%
            transform: translate(0px, -3px)

          100%
            transform: translate(0px, 0px)
            opacity: 1


      &:nth-child(3)
        padding-top: 5px

    button:nth-child(12), button:nth-child(13), button:nth-child(17), button:nth-child(18)
      display: inline-block
      background: #73c990
      padding: 5px 10px
      color: #111
      border: none

      &:hover
        background: darken(#73c990, 10%)
        color: #000

      &.disabled
        background: #95a5a6
        color: #333

        &:hover
          cursor: default

    .settings-gap
      display: block
      height: 30px

    .settings-object-wrap
      position: relative
      box-sizing: border-box
      width: 100%
      height: 110px
      background: #dcdcdc
      padding: 10px
      font-size: 11px
      transition: all 300ms ease-in-out
      margin-bottom: 10px

      .settings-o-color, .settings-o-information
        position: relative
        float: left
        width: 90px
        height: 90px

      .settings-o-information
        display: flex
        justify-content: center
        flex-direction: column
        width: calc(100% - 90px)
        padding: 0 0 0 10px
        box-sizing: border-box
        overflow: hidden

        span
          display: block
          font-style: italic

          span
            display: inline
            font-style: normal
            font-weight: normal

        button
          font-size: 11px
          display: inline
          float: left
          background: #bdc3c7
          float: left
          padding: 3px 5px
          margin: 5px auto 0 0
          color: #111
          border: none

  #start, #tutorial, #object-creation, #settings, #load-state
    display: none
    position: relative
    height: 95%
    box-sizing: border-box

    &.open
      display: block

    .sidebar-header
      font-size: 14px
      font-weight: bold
      font-family: 'monosten'
      padding-top: 15px

      span
        font-weight: 300
        font-family: Helvetica
        font-size: 12px
        color: #333

    h3
      line-height: 30px
      font-size: 30px
      font-weight: 300

    p
      line-height: 1.7
      font-size: 14px

  #tutorial, #object-creation, #settings, #load-state
    padding: 15px

    button
      margin-top: 10px

    section
      position: relative
      overflow: scroll
      height: calc(100% - 80px)

  button
    position: relative
    display: block
    border: none
    background: none
    color: #21252b
    border-radius: 0
    padding: 2px 5px 2px 2px
    margin-bottom: 10px
    font-size: 13px
    font-family: Helvetica, Arial, sans-serif
    border-bottom: 2px solid #21252b

    &:focus, &:active
      outline: none

    &:hover
      cursor: pointer
      color: #e74c3c
      // #EB423E
      border-bottom: 2px solid #e74c3c
      //#EB423E


#object-undermouse
  position: absolute
  border-radius: 50%
  opacity: 0.8
  display: none
  border: 2px dashed white

#object-placeholder
  position: absolute
  display: block
  border-radius: 50%

#velocity-line
  position: absolute
  width: 100px
  height: 2px
  background: white
  display: none
  transform-origin: left top

  &::after
    display: block
    content: ' '
    width: 10px
    height: 10px
    float: right
    transform: rotate(45deg)
    margin-top: -5px
    border-top: 2px solid white
    border-right: 2px solid white

canvas
  width: 75%
  background: #21252b
