@font-face {
  font-family: "monosten";
  src: url("assets/monosten.woff2") format("woff2"); }
body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  overflow: hidden;
  background: #21252b; }

#sidebar, canvas {
  position: relative;
  display: block;
  height: 100%;
  float: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#sidebar {
  width: 25%;
  background: #E4E6E9;
  padding: 0 15px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3); }
  #sidebar #start {
    padding: 10px; }
    #sidebar #start h1 {
      font-family: "monosten";
      font-size: 40px;
      margin: 0;
      padding: 70px 0 20px 0;
      color: #21252b; }
      #sidebar #start h1 span {
        color: #EB423E; }
    #sidebar #start line {
      display: block;
      position: relative;
      width: 100px;
      height: 2px;
      background: #21252b;
      margin-bottom: 20px; }
    #sidebar #start p {
      font-size: 15px;
      line-height: 1.5; }
      #sidebar #start p:nth-child(3) {
        font-style: italic; }
  #sidebar #tutorial .sidebar-title {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 20px;
    margin-left: -6px; }
    #sidebar #tutorial .sidebar-title:after {
      display: block;
      content: " ";
      clear: both; }
    #sidebar #tutorial .sidebar-title span, #sidebar #tutorial .sidebar-title h3 {
      display: inline-block;
      position: relative;
      height: 100%;
      float: left; }
    #sidebar #tutorial .sidebar-title span {
      width: 110px;
      font-family: "monosten";
      font-size: 80px;
      line-height: 75px;
      color: #EB423E; }
    #sidebar #tutorial .sidebar-title h3 {
      width: calc(100% - 110px);
      margin: 0;
      padding: 6px 0; }
  #sidebar #tutorial br {
    content: " ";
    display: block;
    height: 7px; }
  #sidebar #tutorial img {
    position: relative;
    width: 97.5%;
    margin: 10px 0 10px 3px;
    display: block;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3); }
  #sidebar #tutorial .tutorial-next {
    float: right;
    border: none;
    background: #333;
    padding: 5px 10px;
    color: #eee;
    margin-top: 0;
    margin-right: 5px; }
    #sidebar #tutorial .tutorial-next:hover {
      background: black;
      color: #fff; }
  #sidebar #object-creation .input-group {
    display: block;
    margin-bottom: 20px;
    font-family: Helvetica, Arial, sans-serif; }
    #sidebar #object-creation .input-group label {
      display: block;
      font-size: 14px;
      font-weight: normal; }
    #sidebar #object-creation .input-group input, #sidebar #object-creation .input-group select {
      border: none;
      background: none; }
      #sidebar #object-creation .input-group input:focus, #sidebar #object-creation .input-group input:active, #sidebar #object-creation .input-group input:hover, #sidebar #object-creation .input-group select:focus, #sidebar #object-creation .input-group select:active, #sidebar #object-creation .input-group select:hover {
        outline: none; }
    #sidebar #object-creation .input-group:nth-child(3) {
      margin-top: 30px; }
      #sidebar #object-creation .input-group:nth-child(3) input {
        padding: 0;
        width: 80px;
        height: 30px;
        margin-left: -2px; }
    #sidebar #object-creation .input-group:nth-child(4) input {
      border-bottom: 1px solid black;
      width: 70px;
      line-height: 1.5;
      margin-top: 5px; }
    #sidebar #object-creation .input-group:nth-child(4) span {
      font-size: 11px;
      line-height: 1.5; }
    #sidebar #object-creation .input-group:nth-child(5) {
      margin-bottom: 30px; }
      #sidebar #object-creation .input-group:nth-child(5) select {
        background: #efefef;
        border: 1px solid black;
        border-radius: 0;
        margin-top: 5px;
        width: 120px;
        height: 20px;
        padding: 10px; }
      #sidebar #object-creation .input-group:nth-child(5) input {
        display: none;
        border-bottom: 1px solid black;
        margin-left: 5px; }
        #sidebar #object-creation .input-group:nth-child(5) input.shown {
          display: inline-block; }
  #sidebar #object-creation section button {
    background: #73c990;
    padding: 5px 10px;
    color: #111;
    border: none; }
    #sidebar #object-creation section button:hover {
      background: #4ebb73;
      color: #000; }
  #sidebar #load-state .load-item {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 110px;
    background: #dcdcdc;
    padding: 10px;
    font-size: 11px;
    transition: all 300ms ease-in-out;
    margin-bottom: 10px; }
    #sidebar #load-state .load-item img, #sidebar #load-state .load-item .load-information {
      position: relative;
      width: 90px;
      height: 90px;
      float: left; }
    #sidebar #load-state .load-item .load-information {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: calc(100% - 90px);
      padding: 0 0 0 10px;
      box-sizing: border-box;
      overflow: hidden; }
      #sidebar #load-state .load-item .load-information h4, #sidebar #load-state .load-item .load-information p {
        font-size: 11px;
        margin: 0;
        color: #333; }
      #sidebar #load-state .load-item .load-information h4 {
        color: #000;
        line-height: 15px;
        margin-bottom: 5px; }
    #sidebar #load-state .load-item:hover {
      background: #d7d7d7;
      transform: scale(0.98);
      box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: all 300ms ease-in-out; }
  #sidebar #load-state p {
    margin-top: 25px; }
  #sidebar #load-state form input {
    display: none; }
  #sidebar #load-state form label {
    background: #73c990;
    padding: 5px 10px;
    color: #111;
    font-size: 13px; }
    #sidebar #load-state form label:hover {
      background: #4ebb73;
      color: #000;
      cursor: pointer; }
  #sidebar #settings {
    font-size: 13px; }
    #sidebar #settings h4 {
      margin: 0;
      padding-bottom: 10px; }
    #sidebar #settings .settings-input-wrap {
      display: inline-block;
      padding: 10px 0; }
      #sidebar #settings .settings-input-wrap .input-title {
        display: inline-block;
        width: 70px;
        margin: 0; }
      #sidebar #settings .settings-input-wrap:nth-child(3) {
        padding-top: 5px; }
    #sidebar #settings button:nth-child(12), #sidebar #settings button:nth-child(13), #sidebar #settings button:nth-child(17), #sidebar #settings button:nth-child(18) {
      display: inline-block;
      background: #73c990;
      padding: 5px 10px;
      color: #111;
      border: none; }
      #sidebar #settings button:nth-child(12):hover, #sidebar #settings button:nth-child(13):hover, #sidebar #settings button:nth-child(17):hover, #sidebar #settings button:nth-child(18):hover {
        background: #4ebb73;
        color: #000; }
      #sidebar #settings button:nth-child(12).disabled, #sidebar #settings button:nth-child(13).disabled, #sidebar #settings button:nth-child(17).disabled, #sidebar #settings button:nth-child(18).disabled {
        background: #95a5a6;
        color: #333; }
        #sidebar #settings button:nth-child(12).disabled:hover, #sidebar #settings button:nth-child(13).disabled:hover, #sidebar #settings button:nth-child(17).disabled:hover, #sidebar #settings button:nth-child(18).disabled:hover {
          cursor: default; }
    #sidebar #settings .settings-gap {
      display: block;
      height: 30px; }
    #sidebar #settings .settings-object-wrap {
      position: relative;
      box-sizing: border-box;
      width: 100%;
      height: 110px;
      background: #dcdcdc;
      padding: 10px;
      font-size: 11px;
      transition: all 300ms ease-in-out;
      margin-bottom: 10px; }
      #sidebar #settings .settings-object-wrap .settings-o-color, #sidebar #settings .settings-object-wrap .settings-o-information {
        position: relative;
        float: left;
        width: 90px;
        height: 90px; }
      #sidebar #settings .settings-object-wrap .settings-o-information {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: calc(100% - 90px);
        padding: 0 0 0 10px;
        box-sizing: border-box;
        overflow: hidden; }
        #sidebar #settings .settings-object-wrap .settings-o-information span {
          display: block;
          font-style: italic; }
          #sidebar #settings .settings-object-wrap .settings-o-information span span {
            display: inline;
            font-style: normal;
            font-weight: normal; }
        #sidebar #settings .settings-object-wrap .settings-o-information button {
          font-size: 11px;
          display: inline;
          float: left;
          background: #bdc3c7;
          float: left;
          padding: 3px 5px;
          margin: 5px auto 0 0;
          color: #111;
          border: none; }
  #sidebar #start, #sidebar #tutorial, #sidebar #object-creation, #sidebar #settings, #sidebar #load-state {
    display: none;
    position: relative;
    height: 95%;
    box-sizing: border-box; }
    #sidebar #start.open, #sidebar #tutorial.open, #sidebar #object-creation.open, #sidebar #settings.open, #sidebar #load-state.open {
      display: block; }
    #sidebar #start .sidebar-header, #sidebar #tutorial .sidebar-header, #sidebar #object-creation .sidebar-header, #sidebar #settings .sidebar-header, #sidebar #load-state .sidebar-header {
      font-size: 14px;
      font-weight: bold;
      font-family: "monosten";
      padding-top: 15px; }
      #sidebar #start .sidebar-header span, #sidebar #tutorial .sidebar-header span, #sidebar #object-creation .sidebar-header span, #sidebar #settings .sidebar-header span, #sidebar #load-state .sidebar-header span {
        font-weight: 300;
        font-family: Helvetica;
        font-size: 12px;
        color: #333; }
    #sidebar #start h3, #sidebar #tutorial h3, #sidebar #object-creation h3, #sidebar #settings h3, #sidebar #load-state h3 {
      line-height: 30px;
      font-size: 30px;
      font-weight: 300; }
    #sidebar #start p, #sidebar #tutorial p, #sidebar #object-creation p, #sidebar #settings p, #sidebar #load-state p {
      line-height: 1.7;
      font-size: 14px; }
  #sidebar #tutorial, #sidebar #object-creation, #sidebar #settings, #sidebar #load-state {
    padding: 15px; }
    #sidebar #tutorial button, #sidebar #object-creation button, #sidebar #settings button, #sidebar #load-state button {
      margin-top: 10px; }
    #sidebar #tutorial section, #sidebar #object-creation section, #sidebar #settings section, #sidebar #load-state section {
      position: relative;
      overflow: scroll;
      height: calc(100% - 80px); }
  #sidebar button {
    position: relative;
    display: block;
    border: none;
    background: none;
    color: #21252b;
    border-radius: 0;
    padding: 2px 5px 2px 2px;
    margin-bottom: 10px;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
    border-bottom: 2px solid #21252b; }
    #sidebar button:focus, #sidebar button:active {
      outline: none; }
    #sidebar button:hover {
      cursor: pointer;
      color: #e74c3c;
      border-bottom: 2px solid #e74c3c; }

#object-undermouse {
  position: absolute;
  border-radius: 50%;
  opacity: 0.8;
  display: none;
  border: 2px dashed white; }

#object-placeholder {
  position: absolute;
  display: block;
  border-radius: 50%; }

#velocity-line {
  position: absolute;
  width: 100px;
  height: 2px;
  background: white;
  display: none;
  transform-origin: left top; }
  #velocity-line::after {
    display: block;
    content: " ";
    width: 10px;
    height: 10px;
    float: right;
    transform: rotate(45deg);
    margin-top: -5px;
    border-top: 2px solid white;
    border-right: 2px solid white; }

#object-alert, #space-paused-alert {
  position: absolute;
  bottom: 20px;
  box-sizing: border-box;
  background: #E4E6E9;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s linear; }
  #object-alert.shown, #space-paused-alert.shown {
    transition: all 0.3s cubic-bezier(0.42, 0, 0.52, 1.3); }

#object-alert {
  left: -200px;
  display: block;
  width: 200px;
  height: 65px;
  padding: 15px;
  font-size: 14px;
  line-height: 1.4;
  border-left: 5px solid #73c990;
  padding-left: 12px; }
  #object-alert.shown {
    left: 20px; }

#space-paused-alert {
  left: 75%;
  width: 100px;
  padding: 5px 10px;
  border-left: 5px solid #f39c12;
  font-size: 13px;
  line-height: 1.7; }
  #space-paused-alert:hover {
    cursor: not-allowed;
    opacity: 0.7; }
  #space-paused-alert.shown {
    left: calc(75% - 120px); }

canvas {
  width: 75%; }

#up-line, #down-line {
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  display: block; }

#up-line {
  height: 100%;
  width: 2px;
  left: calc(50% - 1px); }

#down-line {
  width: 100%;
  height: 2px;
  top: calc(50% - 1px); }
